.font-card {
  border-top: 2px solid #868686;
  text-align: left;
  margin: 1rem 0.5rem 2rem;
  &__add-icon {
    color: red;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    font-size: 1rem;
  }
  h3 {
    text-transform: capitalize;
    margin-top: 1rem;
    color: black;
  }
  h4 {
    text-transform: capitalize;
    color: #8a8a8a;
  }
}
