.home-page {
  text-align: center;
}

.container-dark {
  color: #fff;
  background-color: #000;
  h3 {
    color: #fff;
  }
}

.input-form {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border-radius: 1px solid black;
}

.input-row {
  &__input {
    width: 100%;
    border: none;
    margin-right: 1rem;
    padding-left: 0.5rem;
    outline: none;
    background-color: rgba(#000, 0);
  }
  &__select {
    width: 100%;
  }
  &__toggle {
    width: 30%;
  }
  &__icon {
    &:hover,
    &active {
      cursor: pointer;
    }
  }
}

.mode-toggle {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
  margin: 0.2rem;
  &:hover,
  &:active {
    cursor: pointer;
  }
  &__dark {
    background-color: #000;
  }
  &__white {
    background-color: #fff;
  }
}

.select-font {
  width: 7rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  background-color: rgba(#fff, 0);
}

.reset-button {
  background-color: rgba(#fff, 0);
  border: none;
  outline: none;
}

.main-section {
  margin: 3rem auto;
  &__viewing-total {
    text-align: left;
    span {
      color: #ff5252;
    }
  }
}

.footer {
  position: fixed;

  bottom: 0.2rem;
  width: 100%;
}

.load-more {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: rgba(#000, 0);
  border: none;
  outline: none;
  height: 75px;
  margin-bottom: 2rem;
  .down-arrow {
    transition: all 0.5s;
  }
  &:hover,
  &:active {
    cursor: pointer;
    color: #ff5252;
    .down-arrow {
      margin-top: 0.5rem;
    }
  }
}
